@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Dana';
        src: url('/fonts/Dana/woff2/DanaFaNum-Regular.woff2');
    }

    @font-face {
        font-family: 'Dana Bold';
        src: url('/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2');
    }

    @font-face {
        font-family: 'Morabba';
        src: url('../public/fonts/Morabba/woff2/Morabba-Medium.woff2');
    }
}